## Chapter 5. Data Analysis with pandas

In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame([10, 20, 30, 40], columns=['numbers'], index=['a', 'b', 'c', 'd'])

In [3]:
df

   numbers
a       10
b       20
c       30
d       40

In [4]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
df.columns

Index(['numbers'], dtype='object')

In [6]:
df.loc['c']

numbers    30
Name: c, dtype: int64

In [7]:
df.loc[['a', 'd']]

   numbers
a       10
d       40

In [8]:
df.iloc[1:3]

   numbers
b       20
c       30

In [9]:
df.sum()

numbers    100
dtype: int64

In [ ]:
df.apply(lambda x:x**2)
# uses the apply() method to calculate squares in vertorized fashion

   numbers
a      100
b      400
c      900
d     1600

In [ ]:
df**2
# Applies vectorization directly as with adarray objects

   numbers
a      100
b      400
c      900
d     1600